# Fundamentos de Linguagem Python para Análise de Dados e Data Science

# Introdução à Programação Orientada a Objetos

In [1]:
# Versão da Linguagem Python
from platform import python_version
print("Versão da Lingaugem Python usada Neste Jupyter Notebook:", python_version())

Versão da Lingaugem Python usada Neste Jupyter Notebook: 3.9.13

## Objetos

Em Python, Tudo é Objeto!

In [2]:
# Criando uma lista
lst_num = ["Data", "Science", "Academy", "Nota", 10, 10]

In [3]:
# A lista lst_num é um objeto, uma instância da classe lista em Python
type(lst_num)

list

In [9]:
print(type([]))

<class 'list'>

In [10]:
lst_num.count(10)

2

In [12]:
# Usamos a função type para verificar o tipo de um objeto
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [13]:
# Criando um novo tipo de classe chamada Carro
class Carro(object):
    pass

In [14]:
# Instância do Carro
ferrari = Carro()

In [15]:
print(type(ferrari))

<class '__main__.Carro'>

In [16]:
# Criando uma classe
class Estudantes:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [21]:
# Criando um objeto chamado estudante a partir da classe estudantes
estudante1 = Estudantes("Bob", 12, 9.5)

In [22]:
estudante1.nome

'Bob'

In [23]:
estudante1.idade

12

In [24]:
estudante1.nota

9.5

In [1]:
# Criando uma classe

class Funcionarios:
    
    def __init__(self, nome, salario, cargo):
        self.nome = nome
        self.salario = salario
        self.cargo = cargo
    
    def listFunc(self):
        print(f'Funcionário(a) {self.nome} tem salário de R$ {str(self.salario)} e o cargo é {self.cargo}')

In [2]:
# Criando um objeto chamado Func1 a partir da classe funcionários
func1 = Funcionarios("Mary", 2000, "Cientista de Dados")

In [3]:
# Usando o método da classe
func1.listFunc()

Funcionário(a) Mary tem salário de R$ 2000 e o cargo é Cientista de Dados

In [4]:
print("***** usando atributos *****")

***** usando atributos *****

In [5]:
hasattr(func1, "nome")

True

In [6]:
hasattr(func1, "salario")

True

In [8]:
setattr(func1, "salario", 4500)

In [9]:
hasattr(func1, "salario")

True

In [10]:
getattr(func1, "salario")

4500

In [11]:
delattr(func1, "salario")

In [12]:
hasattr(func1, "salario")

False

## Fim